{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block titulo %}
    {% trans "Categorias" %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/categorias.css' %}">
{% endblock %}

{% block contenido %}

<div class="content-section">
    <h2>{% trans "Lista de Categorias" %}</h2>

    {% if user.is_authenticated %}
        {% if perms.productos.add_categoria %}
            <a href="{% url 'crear_categoria' %}" class="btn btn-primary">{% trans "Crear Categoria" %}</a>
            <a href="{% url 'ajax_categoria' %}" class="btn btn-primary">{% trans "Crear AJAX Categoria" %}</a>
        {% endif %}
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>{% trans "Nombre" %}</th>
                <th>{% trans "Descripción" %}</th>
                {% if user.is_authenticated %}
                    {% if perms.productos.change_categoria %}
                        <th>{% trans "Editar" %}</th>
                    {% endif %}
                    {% if perms.productos.delete_categoria %}
                        <th>{% trans "Eliminar" %}</th>
                    {% endif %}
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.nombre }}</td>
                <td>{{ categoria.descripcion }}</td>
                {% if user.is_authenticated %}
                    {% if perms.productos.change_categoria %}
                        <td><a href="{% url 'actualizar_categoria' categoria.id %}" class="btn btn btn-warning">{% trans "Editar" %}</a></td>
                    {% endif %}
                    {% if perms.productos.delete_categoria %}
                        <td><a href="{% url 'eliminar_categoria' categoria.id %}" class="btn btn-danger">{% trans "Eliminar" %}</a></td>
                    {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block js %}


{% endblock %}
