{% extends 'base.html' %}

{% block titulo %}
    Asignar Permisos
{% endblock %}

{% block css %}

{% endblock %}


{% block contenido %}
<h1>Asignar Permisos</h1>

<form method="post">
    {% csrf_token %}
    {% for permiso in permisos %}
    <div>
        <label>
            <input type="checkbox" name="permisos" value="{{ permiso.id }}" {% if permiso in user.user_permissions.all %} checked {% endif %}>
            {{ permiso.name }}
        </label>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Guardar</button>

</form>

{% if messages %}
    {% for message in messages %}
        <div>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
    
{% endblock %}  


{% block js %}


{% endblock %}
