{% extends 'base.html' %}

{% block titulo %}
    Nueva Categoría
{% endblock %}

{% block css %}


{% endblock %}


{% block contenido %}


<section class="">
<div class="container">
    <h2>Eliminar Categoría</h2>
    <p>¿Estás seguro de que deseas eliminar "{{ proveedor.nombre }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar Eliminación</button>
        <a href="{% url 'proveedores' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
</section>

    
{% endblock %}  


{% block js %}


{% endblock %}
