{% extends 'base.html' %}

{% block titulo %}
    Home
{% endblock %}

{% block css %}

{% endblock %}


{% block contenido %}

<div class="container">
    <h1>Home</h1>
</div>

<section class="">
            <h2>Página Principal</h2>
            <p>¡Hola! Esta es la página de inicio de tu sitio web mejorado visualmente. Hemos aplicado estilos modernos para una experiencia de usuario agradable.</p>
            <p>Puedes expandir este contenido con información relevante sobre tu empresa, productos o servicios. ¡La clave es que sea atractivo y fácil de leer!</p>
</section>

    
{% endblock %}  


{% block js %}

<script>
    console.log("hola");
</script>

{% endblock %}
